<div th:fragment="css">
	<link rel="stylesheet" th:href="@{/assets/css/calendar.css}">
	<link rel="stylesheet" th:href="@{/assets/css/color-pink.css}">
	<link rel="stylesheet" th:href="@{/assets/css/eventCalendar.css}">
	<link rel="stylesheet" th:href="@{/assets/css/jquery.cookieBar.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/main.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/nprogress.css}">
	<link rel="stylesheet" th:href="@{/assets/css/owl.video.play.html}">
	<link rel="stylesheet" th:href="@{/assets/css/weather-icons.min.css}">
	<link rel="stylesheet" th:href="@{/assets/css/toast-notification.css}">
	<link rel="stylesheet" th:href="@{/assets/css/page-tour.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">
    <link rel="stylesheet" th:href="@{/assets/css/color.css}">
    <link rel="stylesheet" th:href="@{/assets/css/responsive.css}">
    <link rel="stylesheet" th:href="@{/assets/css/video-player.css}">
    <link rel="stylesheet" th:href="@{/assets/css/weather-icon.css}">
</div>	