<div th:fragment="script">
	<script th:src="@{/assets/js/main.min.js}"></script>
	<script th:src="@{/assets/js/jquery-stories.js}"></script>
	<script th:src="@{/assets/js/toast-notificatons.js}"></script>
	<script src="../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenMax.min.js"></script><!-- For timeline slide show -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script><!-- for location picker map -->
	<script th:src="@{/assets/js/locationpicker.jquery.js}"></script><!-- for loaction picker map -->
	<script th:src="@{/assets/js/map-init.js}"></script><!-- map initilasition -->
	
	<script th:src="@{/assets/js/script.js}"></script>
</div>	